<template>
	<div>
		<!--<up-nav v-if="isConneted"></up-nav>-->
		<div class="container-fluid">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	//	import UpNav from "./views/upNav/UpNav.vue";
	export default {
		props: [],
		components: {
//			"up-nav": UpNav
		},
		data () {
			return {}
		},
		computed: {
			isConneted: function () {
				return this.$store.getters.isConnected;
			},
		},
		methods: {},
		created(){
		},
		mounted(){
		},
		updated(){
		},
		destroyed(){
		}
	}
</script>

<style>

</style>