<template>
	<button :disabled="progress" @click="$emit('click',$event)">
		<slot v-if="!progress">
			שלח
		</slot>
		<loader v-if="progress"></loader>
	</button>
</template>

<script>
	export default {
		props: {
			progress: {
				default: false
			}
		},
		components: {},
		data () {
			return {}
		},
		computed: {},
		methods: {},
		created(){
		},
		mounted(){
		},
		updated(){
		},
		destroyed(){
		}
	}
</script>

<style>

</style>