<template>
	<div :class="classType" role="alert">
		<button type="button" class="close" @click="onCloseClick">
			<span aria-hidden="true">&times;</span>
		</button>
		{{message}}
	</div>
</template>

<script>
	export default {
		props: {
			type: {
				default: "primary"
			},
			message: {
				require: true
			}
		},
		components: {},
		data () {
			return {}
		},
		computed: {
			classType(){
				return "alert alert-" + this.type;
			}
		},
		methods: {
			onCloseClick(){
				this.$emit("close");
			}
		},
		created(){
		},
		mounted(){
		},
		updated(){
		},
		destroyed(){
		}
	}
</script>

<style>

</style>