<template>
	<tr>
       
		<td>{{user.name}}</td>
		<td>{{user.last_name}}</td>
		<td>{{user.tel}}</td>
		<td>{{user.email}}</td>
		<td >{{user.password}}</td>
        <td>
          <select v-model="user.role" @change="ChangeRole">
  <option value="1">מנהל</option>
  <option value="0" >איש שטח</option>
          </select>

        </td>

         <td>
			<button @click="OnEdit" class="btn btn-primary">עריכה</button>
		</td>


		<td>
			<button @click="onRemove" class="btn btn-danger">מחיקה</button>
		</td>
	</tr>
</template>

<script>
    import UserModule from "../../store/modules/User.module";
    export default {
        props: ["user"],
        components: {},
        data() {
            return {

            }
        },
        computed: {},
        methods: {


            onRemove() {
                swal({
                    title: "האם אתה בטוח ",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'כן',
                    cancelButtonText: 'לא'
                }).then(() => {

                    this.$store.dispatch(UserModule.types.REMOVE, this.user).then(() => {});
                    return false;
                }, () => {

                })
            },


            OnEdit() {
                // alert(this.user.change_password);
                // this.user.change_password = 1;
                // alert(this.user.change_password);

                this.$store.commit(UserModule.types.GET, this.user)


                //  v-if="this.change_password === '1'"

                // <div v-if="Math.random() > 0.5">
                //  Now you see me
                // </div>

            },


            ChangeRole() {

                this.$store.dispatch(UserModule.types.GET, this.user);
            },


        },
        created() {},
        mounted() {},
        updated() {},
        destroyed() {}
    }
</script>

<style scoped>

</style>