<template>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="text-center">ניהול משתמשים</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<user-form></user-form>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<user-table></user-table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import UserModule from "../../store/modules/User.module";

	export default {


		props: [],
		components: {
			"user-table": require("./UsersTable.vue"),
			"user-form": require("./UserForm.vue")
		},
		data() {
			return {}
		},
		computed: {
			users() {
			}
		},
		methods: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>
	.italic {
		font-style: italic;
	}
</style>