<template>

	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>שם פרטי</th>
							<th>שם משפחה</th>
							<th>פלאפון</th>
							<th>דואר אלקטרוני</th>
							<th>סיסמא</th>
							<th>הרשאות גישה</th>
						</tr>
						</thead>
						<tbody>
						<tr is="user-row" v-for="user in users" :user="user"></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import UserModule from "../../store/modules/User.module";

	export default {

		props: [],
		components: {
			"user-row": require("./UserRow.vue"),

		},
		data() {
			return {
				search: {
					id_user: "",
					name: "",
					tel_user: '',
					role: "",

				}

			}
		},
		computed: {
			users() {
				return this.$store.state.userModule.users;
			}
		},
		methods: {
			onSearch() {
				this.getMembers();
			},
			getMembers() {

				this.$router.replace({
					query: {}
				});
				this.$router.replace({
					query: Object.assign({}, this.search)
				});
				this.$store.dispatch(UserModule.types.FETCH, this.search).then(() => {

				});
			},

		},
		created() {
			this.$store.dispatch(UserModule.types.FETCH);
		},

		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>

</style>