<template>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 middle">

			<h1>{{title}}</h1>

			<form @submit.prevent="onSubmit">
				<div class="form-group">
					<label for="input_name">שם פרטי</label>
					<input class="form-control" name="name" id="input_name"
					       v-model="form.name" type="text" placeholder="שם פרטי" required>
				</div>
				<div class="form-group">
					<label for="input_last_name">שם משפחה</label>
					<input class="form-control" name="last_name" id="input_last_name"
					       v-model="form.last_name" type="text" placeholder="שם משפחה" required>
				</div>
				<div class="form-group">
					<label for="input_tel">פלאפון</label>
					<input class="form-control" name="tel" id="input_tel"
					       v-model="form.tel" type="text" placeholder="פלאפון" required>
				</div>
				<div class="form-group">
					<label for="input_email">דואר אלקטרוני</label>
					<input class="form-control" name="email" id="input_email"
					       v-model="form.email" type="email" placeholder="דואר אלקטרוני" required>
				</div>


				<!--{{showPassword}}-->
				<div class="form-group" v-if="!form.id || showPassword">
					<label for="input_password">סיסמא</label>
					<input class="form-control" name="password" minlength="6" id="input_password"
					       v-model="form.password" type="password" placeholder="סיסמא" required autocomplete="new-password">

				</div>


				<div class="form-group" v-if="form.id  &&  !showPassword">
					<button type="button" @click="ChangePassword">שנה סיסמא</button>
				</div>


				<div class="form-group">
					<label for="input_role">הרשאות גישה</label>

					<select class="form-control" name="role" id="input_role"
					        v-model="form.role" size="2" type="text" placeholder="הרשאות גישה" required>
						<option value="1">מנהל</option>
						<option value="0">משתמש</option>
					</select>
				</div>
				<button type="submit" class="btn btn-default">שמירה</button>
				<button type="button" v-show="form.id" @click="onReset" class="btn btn-warning">ביטול </button>
			</form>
		</div>
	</div>
</template>

<script>
	import UserModule from "../../store/modules/User.module";

	export default {
		props: [],
		components: {},
		data() {
			return {
				showPassword: 0,
				src: null,
				form: Object.assign({
					name: "",
					last_name: "",
					tel: "",
					email: "",
					password: "",
					role: 0
				}, this.user)
			}
		},
		computed: {
			user() {
				return this.$store.state.userModule.nowUser;
			},
			title() {
				if (this.form.id) {
					return "עריכת משתמש";
				}
				return "הוספת משתמש";
			}
		},

		watch: {
			user() {
				this.form.src = null;
				this.form = Object.assign({}, this.user);
			}
		},

		methods: {
			onSubmit() {
				this.showPassword = 0;
				this.$store.dispatch(UserModule.types.SAVE, this.form).then((response) => {
					this.$store.commit(UserModule.types.CREATE);
				}, (error) => {
					console.log(error);
					const response = error.response;
					if (response.status === 422) {
						let msg = '';
						Object.keys(response.data).forEach((key) => {
							msg += response.data[key][0] + '. ';
							console.log(response.data[key], key);
						});
						notificationError(msg);
					}
				});
			},

			ChangePassword() {
				this.showPassword = !this.showPassword;
				this.form.password = null;
				this.$store.commit(UserModule.types.GET, this.user)
			},

			onReset() {
				this.showPassword = 0;
				this.$store.commit(UserModule.types.CREATE);
				return false;
			}
		},
		created() {
			this.$store.commit(UserModule.types.CREATE);
		},
		mounted() {

		},
		updated() {

		},
		destroyed() {
		}
	}
</script>

<style scoped>

</style>