<template>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-7 col-md-2 col-lg-2 middle ">
					<img src="img/logo.png" class="img-responsive middle" alt="Image">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-8 col-lg-4 middle">
					<div class="panel panel-primary">
						<div class="panel-heading panel-login">
							<h2>התחברות</h2>
						</div>
						<div class="panel-body">
							<message-box @close="msg = null" v-if="msg" :message="msg" :type="messageType"></message-box>
							<form @submit.prevent="onSend" class="form-signin">
								<div class="form-group">
									<label>דואר אלקטרוני</label>
									<input type="tel" v-model="form.email" class="form-control" placeholder="פלאפון" required autofocus>
								</div>
								<div class="form-group">
									<label for="inputPassword">סיסמה</label>
									<input type="password" v-model="form.password" id="inputPassword" class="form-control" placeholder="סיסמה">
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" v-model="form.remember"> זכור אותי
									</label>
								</div>
								<loader v-if="wait"></loader>
								<button :disabled="disabled" v-if="!wait" class="btn btn-lg btn-primary btn-block" type="submit">התחבר</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import swal from "sweetalert2"
	import {
		types
	} from "../../store/modules/Auth.module";

	export default {
		props: [],
		components: {
			"message-box": require("../../components/MessageBox.vue")
		},
		data() {
			return {
				name: "fff",
				showPassword: false,
				form: {
					email: null,
					remember: false,
					password: null
				},
				msg: "",
				proccess: '0',
				wait: false,
				level: 1,
				disabled: false,
				messageType: "danger"
			}
		},
		computed: {},
		methods: {
			onSend() {
				this.disabled = true;
				this.$store.dispatch(types.LOGIN, this.form).then(
					(response) => {
						this.disabled = false;
						if (response.success) {
							this.$router.push("/");
//							this.$emit("success");
						} else {
							this.msg = "שם משתמש וסיסמא אינם נכונים"
						}
					}
				)
			},
		},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>
	.panel-login h2 {
		margin: 0;
	}
</style>